# Compiled source #
###################
*/bin/
*/obj/
# Compiled Python files
*.pyc


# Temporary & IDE #
###################
*~
*.layout
*.cbp
# Python pth files
*.pth
# Vim swap files
.*.swp
# Local working files
*.log
# Untracked directories
**/__pycache__/**

