<!DOCTYPE html>
<html>
	<head>
		<title>Infinite Uptime Server Data</title>
	</head>
	<body>
		<h1>IU_device_data</h1>
		<table style="border: 1px solid black">
			<tr>
				{% for header in IU_headers %}
				<th width="10%" style="background-color: #CCFFCC; margin: 5px">{{ header }}</th>
				{% endfor %}
			</tr>
			{% for entry in IU_entries %}
			<tr>
				<td>{{ entry['Timestamp_DB'] }}</td>
				<td>{{ entry['Timestamp_Pi'] }}</td>
				<td>{{ entry['MAC_ADDRESS'] }}</td>
				<td>{{ entry['State'] }}</td>
				<td>{{ entry['Battery_Level'] }}</td>
				<td>{{ entry['Feature_Value_0'] }}</td>
				<td>{{ entry['Feature_Value_1'] }}</td>
				<td>{{ entry['Feature_Value_2'] }}</td>
				<td>{{ entry['Feature_Value_3'] }}</td>
				<td>{{ entry['Feature_Value_4'] }}</td>
				<td>{{ entry['Feature_Value_5'] }}</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		<h1>Feature_Dictionary</h1>
		<table style="border: 1px solid black">
			<tr>
				{% for header in Feature_headers %}
				<th width="25%" style="background-color: #CCFFCC; margin: 5px">{{ header }}</th>
				{% endfor %}
			</tr>
			{% for entry in Feature_entries %}
			<tr>
				<td>{{ entry['MAC_ADDRESS'] }}</td>
				<td>{{ entry['Feature_ID'] }}</td>
				<td>{{ entry['Feature_Name'] }}</td>
				<td>{{ entry['Threshold_1'] }}</td>
				<td>{{ entry['Threshold_2'] }}</td>
				<td>{{ entry['Threshold_3'] }}</td>
			</tr>
			{% endfor %}
		</table>
		<br><br>
		<strong>Enter an entry into table</strong>
		<form action="/sign" method="IU_add">
			<div>MAC_ADDRESS: <input type="text" name="MAC_ADDRESS" style="border: 1px solid black"></div>
			<div>State: <input type="int" name="State" style="border: 1px solid black"></div>
			<div>Battery_Level: <input type="int" name="Battery_Level" style="border: 1px solid black"></div>
			<div>Feature_Value_1: <input type="float" name="Battery_Level" style="border: 1px solid black"></div>
			<div>Feature_Value_2: <input type="float" name="Battery_Level" style="border: 1px solid black"></div>
			<div>Feature_Value_3: <input type="float" name="Battery_Level" style="border: 1px solid black"></div>
			<div>Feature_Value_4: <input type="float" name="Battery_Level" style="border: 1px solid black"></div>
			<div>Feature_Value_5: <input type="float" name="Battery_Level" style="border: 1px solid black"></div>
			<div><input type="submit" value="Submit"></div>
		</form>
	</body>
</html>